ul.tent {
    list-style-image: url('/static/tent.jpg');
    list-style-position: inside;
}
.FCFS {
    color: grey;
}
.git {
    max-width: 25px;
    padding: 7%;
}
.linkedin {
    max-width: 25px;
    padding: 7%;
}
.links{
    padding-left: 40%;
    padding-right: 40%;
}
#wrapper {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
}

.content {
    padding-left: 3%;
    text-align: center;
    list-style-position: inside;
}

#phone {
    border-color: 1px solid black;
    width: 250px;
}

#phone-border {
    border-color: 1px solid black;
    width: 250px;
    margin: auto;
}
#summary-title {
    background-color: #e2514c4a;
    color: black;
    display: flex; 
    align-items: center;
    justify-content: left;  
    height: 60px; 
    width: 100%;
}
.about-section {
    padding-left: 15%;
    padding-right: 15%;
}

.selected-dates {
    padding: 3%;
}


#selected-sites {
    padding-bottom: 4%;
}

.rec-gov-link {
    color: #E2514C;
}

.submit-request {
    padding-bottom: 4%;
}

#six-months{
    width: 450px;
    background-color: rgb(235, 235, 235);
}

.flex-col {
    display: flex;
    flex-direction: column;
    width: 450px;
    text-align: center;
    align-items: center;
}

.name-sidebar {
    background: url(/static/jtree.jpg);
    background-position-y: 20%;
    background-size: cover;
    width: 100%;
    height: 250px;
    left: 0;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.align {
    display: flex;
    align-items: center;
    justify-content: center;   
}


.text-right-cal {
    border-color: white;

}

.border-cal-btn {
    border-color: white;
}

#demo {
    width: 296px;
    border: 0px;
    text-align: center;
    font-size: 20px;
}

.lightpick {
    width: fit-content;
    text-align: 
}

.datepicker {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.date-selection {
    width: fit-content;
}

#title {
    width: 450px;
    text-align: center;
}

#query {
    width: 300px;
}

#calendar-form {
    padding-left: 3%;
}

#home-title {
    font-size: large;
}

#About {
    padding-top: 5%;
    padding-left: 2%;
    padding-bottom: 5%;

}
#space {
    padding-bottom: 5%;

}
#About-me {
    padding-left: 2%;

}
h1, h2, h3, body {
            font-family: 'CenturyGothic', sans-serif;
        }
body {
    margin:1%;
    padding:1%;
}
.text-right {
    padding-right: 7%;
}

.form-inline-2 {
    margin-left:7%;
    padding-left: :3%;
    padding-top: 5%;
    padding-right: 10%;
}

.btn-selection {
    border-color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #ffffff !important;
    color: #999999;
    border-color: #000000;
    border-radius: 0;

}   

.navbar-brand {
    color: #FFDCB8
}

#search-title {
    color: white;
}


