.flex-col {
    display: flex;
    flex-direction: column;
}

.name-sidebar {
    background: url(/static/jtree.jpg);
    background-position-y: 25%;
    background-size: cover;
}

#demo {
    width: 296px;
    border: 0px;
    text-align: center;
}

.lightpick {
    width: fit-content;
}


.date-selection {
    width: fit-content;
    align
*/}

#title {
    width: 296px;
    text-align: center;
}

#calendar-form {
    padding-left: 3%;
}

.form-group {
    width: 100%; 
    display: flex; 
    justify-content: center;
}

#home-title {
    font-size: large;
}

#About {
    padding-top: 5%;
    padding-left: 2%;
    padding-bottom: 5%;

}

#About-me {
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;

}
h1, h2, h3, body {
            font-family: 'CenturyGothic', sans-serif;
        }
        body {
            margin:1%;
            padding:1%;
        }
        .form-inline-2 {
            margin-left:7%;
            padding:1%;
        }
        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #ffffff !important;
            color: #999999;
            border-color: #000000;
            border-radius: 0;

        }   
        .navbar-brand {
            color: #FFDCB8
        }

