{% extends 'base.html' %}
{% block content %}
<body>
    <div class="about-section">
        <div id="About">
            <h3>About</h3>
            <p>
                No availability at the campground you'd like to visit? Select the sites you'd like to visit, add a check in and check out date, and you'll receive a text message when there is availability. Because getting outside shouldn't be competitive or require months in advance of planning.
            </p>
            <p>
                If you live in California, you know how bad booking a campground can be. The one time I got a campsite at Marin's Steep Ravine, I spent days refreshing the availability page on the hour. My hope is for this site to solve this. 
            </p>
        </div>

        <div id="About-me">
            <h3>Who</h3>
            <p>
                I'm Brittany Morton and I started coding in July 2019. This is my first web application and I hope you like it! If you have any feedback, please send it to bnmorton264@gmail.com.
            </p>   
            <div class="space" style="padding-bottom: 5%;"></div>
            <div class="links">
                <a class="git" href="https://github.com/brittanynm"><img src="/static/github-brands.svg" style="max-width: 25px;">
                  </a>

                <a class="linkedin" href="https://www.linkedin.com/in/brittanymorton/"><img src="/static/linkedin-in-brands.svg" style="max-width: 25px;">
                </a>
            </div>
        </div>
    </div>
</body>
{% endblock %}
