{% extends 'base.html' %}
{% block content %}
<body>
    <br><br>
    <form action="/dates" method="POST">
        <div>When would you like to go?</div><br>
        <label for="start">Arrive:</label>
            <input type="date" id="theDate" name="date-start"
        <label for="end" required>Depart:</label>
            <input type="date" id="start" name="date-end" required><br><br>
        <button type="submit" class="date-selection">Next > </button>
    </form>
</body> 
  <script src="datepicker.js"></script>

{% endblock %}