
{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/lightpick.css">
</head>
<body>
  <div class="align" id="status">
    <div class="datepicker">
        <br><br>
        <form action="/dates" class="flex-col" id="calendar-form" method="POST">
            <div id="title"><h4>When would you like to go?</h4></div><br>
            <div class="flex-col"> 
                <input type="text" value= "Select dates" id="demo" name="date-start"><br>
                <div class="flex-col" id="six-months">Most parks open availability 6 months in advance</div><br><br>
            </div>
            <!-- <label for="end" required>Depart:</label>
                <input type="text" id="start" name="date-end" required><br><br> -->
            <br><br>

            <div class="border-cal-btn">
              <button type="submit" class="text-right-cal">Next > </button>
            </div>
        </form>
    </div>
  </div>
</body> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="https://unpkg.com/lightpick@latest/lightpick.js"></script>
<script>
    const myPicker = new Lightpick({
      field: document.getElementById('demo'),
      singleDate: false,
      startDate: null,
      endDate: null,
      inline: true,
      format: 'MM/DD/YYYY'
      
});

</script>

{% endblock %}


