{% extends 'base.html' %}
{% block content %}
<div class="form-group-final">
    <div class="inner-form-final">
        <br><br>
        <div>
            <div id="wrapper">
                <div id="summary-title"><h3>REQUEST DETAILS </h3></div>
            </div>
            <div class="content">
                <div class="selected-dates">
                    <h4>{{ date_start }} - {{ date_end }}</h4>
                </div>
                <div id="selected-sites">
                    {% for campsite in list_of_objs %}
                    <ul class="tent">
                        <li><b> 
                            {{ campsite.name }} in {{ campsite.park }}</b>
                            <br>{{ available[loop.index0] }}
                            {% if avail_num[loop.index0] != '0' %}
                                <div class="rec-gov-link">Sites are available now! Go to <a href='https://www.recreation.gov/'> recreation.gov</a>
                                to book.</div>
                             {% endif %}
                        </li>
                        
                    </ul>
                    {% endfor %}
                </div>
                
                
                <form action="/submit" class="submit-request" id="submit-form" method="POST" >
                    <div class="input-phone">
                        <b>Phone number to alert:</b> 
                        <div id="phone-border">
                            <input type="text" name="phone" id="phone">
                                <div id="invalid-message">
                                </div><br><br>
                        </div>
                        <button type="submit" id="submit-request-button">Submit Request </button>
                    </div>
                </form>
            </div><br>
        </div>
    </div>
</div>

<script>
    $("#submit-form").on("submit", 
        (evt) => { 
            evt.preventDefault();
            evt.stopPropagation();
            $.get("/validate-phone-number.json", {"phone": $("#submit-form input").val()}, (resp) => {
                if (resp.is_valid) {
                    evt.target.submit();
                } else {
                    $("#invalid-message").html("Invalid phone number!");
                }
                
            })
        }
    );
</script>
{% endblock %}
