{% extends 'base.html' %}
{% block content %}
<br><br>
<div>
    <h3>REQUEST DETAILS</h2><br>

    <b>{{ date_start }} through {{ date_end }}<br><br></b>

    {% for campsite in list_of_objs %}

        <b>{{ campsite.name }} in {{ campsite.park }}</b><br>
        {{ available[loop.index0] }}<br><br>

    {% endfor %}

    <a href='https://www.recreation.gov/'> recreation.gov</a><br>
</div><br>

<form class="submit-request" method="POST" >
    Phone number to alert: 
    <input type="text" name="phone"><br><br>
    <button type="submit">Submit Request </button>

</form>
{% endblock %}
